OPENAI_API_KEY=sk-proj-
DATABASE_URL=postgresql://
NEXT_PUBLIC_MAX_PARALLEL_RECEIPTS=6
FREE_MONTHLY_RECEIPT_LIMIT=3
NEXT_PUBLIC_FREE_MONTHLY_RECEIPT_LIMIT=3
PRO_MONTHLY_RECEIPT_LIMIT=500
BUSINESS_MONTHLY_RECEIPT_LIMIT=2000
GUEST_FREE_RECEIPT_LIMIT=5
NEXT_PUBLIC_GUEST_FREE_RECEIPT_LIMIT=5


BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000
NEXT_PUBLIC_APP_URL=http://localhost:3000

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_APP_PASSWORD=

XENDIT_SECRET_KEY=xnd_development_
XENDIT_WEBHOOK_VERIFICATION_TOKEN=
XENDIT_PLAN_CODE=pro-monthly
XENDIT_PLAN_NAME=Pro
XENDIT_PLAN_AMOUNT=499
XENDIT_PLAN_CURRENCY=PHP
XENDIT_PLAN_INTERVAL=MONTH
XENDIT_PLAN_INTERVAL_COUNT=1
XENDIT_PLAN_TOTAL_RECURRENCE=
XENDIT_BUSINESS_PLAN_CODE=business-monthly
XENDIT_BUSINESS_PLAN_NAME=Business
XENDIT_BUSINESS_PLAN_AMOUNT=2499
XENDIT_BUSINESS_PLAN_CURRENCY=PHP
XENDIT_BUSINESS_PLAN_INTERVAL=MONTH
XENDIT_BUSINESS_PLAN_INTERVAL_COUNT=1
XENDIT_BUSINESS_PLAN_TOTAL_RECURRENCE=

R2_ENDPOINT=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_BUCKET=receipts
R2_PUBLIC_BASE_URL=
